.container {
    background-color: #a8c0de;
    border-radius:0 0 5% 30%;
}

.image {
    width: 50%;
    height: auto;
    margin: auto;
    padding-top: 1rem;
}

.pageNotFoundText {
    font-size: 1.2rem;
    font-weight: 450;
    color: #3f3d56;
    margin: 1rem auto;
    text-align: center;
}

.buttonContainer {
    width: 200px;
    text-align: center;
    margin: auto;
    padding-bottom: 1rem;
}