.dbContainer {
    width: 100%;
    max-width: 70rem;
}

.tableContainer {
    margin-top: 0.5rem;
}

.label {
    font-size: 0.9rem;
    margin-right: 0.1rem;
    margin-left: 1.2rem;
    text-transform: uppercase;
    opacity: 0.5;
    min-width: 16%;
    width: fit-content;
    display: inline-block;
}

.submit {
    display: inline-block;
    margin-bottom: 0.4rem;
}

.submit > input {
    margin-left: 0.2rem;
    width: calc(80% - 2rem);
    font-size: 0.9rem;
    color: #003666;
    font-weight: 500;
}

.submit > select{
    color: #003666;
    padding: 0.25rem 0.5rem;
    font-weight: 500;
    font-size: 0.9rem;
    margin-left: 0.2rem;
    margin-bottom: 0.5rem;
    width: calc(80% - 2rem);
    background: transparent;
    border-radius: 5px;
    cursor: pointer;
}

.submit > select:hover{
    background: #d9e6f2;
    transition: 0.2s;
}

.bottomButtonsContainer {
    margin-top: 0.5rem;
    display: flex;
    width: calc(100% - 2rem);
}

.delEditContainer {
    margin-top: 0.8rem;
    margin-left: auto;
}

.confirmButtonContainer {
    width: fit-content;
    float: right;
    margin-left: auto;
    display: inline-block;
}

.deleteButtonContainer {
    display: inline-block;
    margin-right: 0.5rem;
}

.userStatsContainer {
    font-size: 1rem;
    border-radius: 10px;
    padding: 1rem;
    margin: 0.5rem auto auto;
    color: white;
    background-color: #34679b;
    width: fit-content;
}
.userStatsTitle {
    font-weight: bold;
    text-decoration: underline;
}

.titleLabel {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 400;
    color: #00315b;
    opacity: 0.8;
}

.tableFormat {
    width: 100%;
    border-radius: 10px;
    background: #00315b;
    border-collapse: collapse;
}

.tableHead {
    line-height: 2rem;
    color: white;
    border-radius: 0.25rem;
}

.thFormatFirst, .thFormat, .lastThFormat {
    font-weight: 500;
    font-size: 1rem;
    text-align: left;
    padding: 0.15rem 0.65rem;
}

.thFormat, .lastThFormat {
    border-left: 2px solid white;
}

.lastThFormat {
    float: right;
}

.ownAccountElementsTableHolder {
    color: #434a59;
    background-color:#c9fdc9;
}

.elementsTableHolder:nth-child(even) {
    background-color: #f2f2f2;
}

.elementsTableHolder:nth-child(odd) {
    background-color: white;
}

.elementsTableHolder:nth-child(even):hover, .elementsTableHolder:nth-child(odd):hover {
    background-color: #e6e6e6;
}

.elementInTable, .firstElementInTable, .lastElementInTable {
    border-width: 0 0 0.115rem 0;
    border-color: #d9d9d9;
    border-style: solid;
    border-radius: 0.25rem;
    font-size: 0.85rem;
    padding: 0.5rem;
}

.firstElementInTable {
    border-left: 0.115rem solid #d9d9d9;
}

.lastElementInTable {
    text-align: right;
    border-right: 0.115rem solid #d9d9d9;
}

.newButtonIcon {
    margin-left: 0.5rem;
}

.linkButtonContainer {
    margin: 0.5rem 0 0.4rem 0;
    width: fit-content;
}

.disabled {
    opacity: 0.5;
}

 .checkboxWrapper .slideCheckbox {
     appearance: none;
     background-color: #dfe1e4;
     border-radius: 72px;
     border-style: none;
     flex-shrink: 0;
     height: 21px;
     margin: 0;
     position: relative;
     width: 35px;
 }

.checkboxWrapper .slideCheckbox::before {
    bottom: -6px;
    content: "";
    left: -6px;
    position: absolute;
    right: -6px;
    top: -6px;
}

.checkboxWrapper .slideCheckbox,
.checkboxWrapper .slideCheckbox::after {
    transition: all 100ms ease-out;
}

.checkboxWrapper .slideCheckbox::after {
    background-color: #fff;
    border-radius: 50%;
    content: "";
    height: 15px;
    left: 3px;
    position: absolute;
    top: 3px;
    width: 15px;
}

.checkboxWrapper input[type=checkbox] {
    cursor: pointer;
}

.checkboxWrapper .slideCheckbox:hover {
    background-color: #c9cbcd;
    transition-duration: 0s;
}

.checkboxWrapper .slideCheckbox:checked {
    background-color: #6e79d6;
}

.checkboxWrapper .slideCheckbox:checked::after {
    background-color: #fff;
    left: 17px;
}

.checkboxWrapper :focus:not(.focus-visible) {
    outline: 0;
}

.checkboxWrapper .slideCheckbox:checked:hover {
    background-color: #535db3;
}

.notAllowed input[type=checkbox] {
    cursor: not-allowed;
}
