.codeInput {
    margin:auto;
    color: #003666;
    font-weight: 550;
}

.topColorOnBanner {
    background-color: #00315b;
    padding: 0.3rem;
    border-radius: 10px 10px 0 0;
}

.titleBannerContainer {
    padding: 0.8rem;
    margin: 0 0 0.5rem 0;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 5px rgba(114, 114, 113, 0.5);
    background-color: #ffffff;
    width: 100%;
    font-weight: 500;
}

.surveyTitle {
    font-size: 1.3rem;
    width: fit-content;
    max-width: 100%;
}

.surveyInfosContainer {
    font-weight: normal;
    color: #00315b;
}

.icon {
    margin:0 0.5rem 0 0.2rem;
    color: #00315b;
}

.scaleInfoContainer {
    margin-top: 0.2rem;
    font-size: 0.6rem;
    color: #737373;
}

.scaleInfoIcon {
    margin: 0 0.2rem 0 0.2rem;
}

.simpleWhiteContainer {
    font-size: 0.95rem;
    padding: 1rem;
    margin: 0 0 0.5rem 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(114, 114, 113, 0.5);
    width: 100%;
    background-color: #fff;
}

.unansweredQuestion {
    border: 2px solid  #e60000;
}

.scaleContainer{
    margin: 0.6rem 0;
    justify-content: center;
    display: flex;
}

.scaleLabel {
    text-transform: uppercase;
    color: #737373;
    display: inline-block;
}

.scaleIcon {
    margin: auto;
    color: #737373;
}

.radioButton {
    appearance: none;

    cursor: pointer;
    color: white;

    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 0;

    border: 2px solid #999;
    transition: 0.05s border linear, 0.05s padding linear;
    margin: 0 0.5rem 0 0.5rem;
    display: inline-block;
}

.radioButton:checked {
    border-width: 6px;
    border-color: #00315b;
    padding: 2px;
}

.radioButtonAndLabelContainer, .radioButtonLabel, .radioButtonAndLabelContainerForDV {
    cursor: pointer;
    margin: 0;
    padding: 0;
    display: block;
}

.radioButtonAndLabelContainer, .radioButtonAndLabelContainerForDV {
    display: inline-block;
    justify-content: center;
    text-align: center;
}

.radioButtonAndLabelContainer:hover .radioButton, .radioButtonAndLabelContainer:hover, .radioButtonAndLabelContainerForDV:hover .radioButton, .radioButtonAndLabelContainerForDV:hover {
    border-color: #00315b;
    color: #00315b;
}

.confirmButtonContainer {
    margin-top: 0.7rem;
}

.alreadyAnsweredText {
    padding: 0.7rem;
    background-color: #04891d;
    color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 3px 5px -1px #0003,0 6px 10px 0 #00000024,0 1px 18px 0 #0000001f;
    width: fit-content;
}

.formResponseLabel {
    color: #00315b;
    font-weight: 500;
    margin: 0 3px;
}

.surveyInfos {
    margin-right: 1rem;
    font-size: 1.1rem;
    display: inline-block;
}

/*For Computer*/
@media (min-width: 600px), (orientation: landscape) {
    .scaleLabel {
        font-size: 0.8rem;
        margin: 0.17rem 1rem 0 1rem;
    }

    .questionLabel {
        font-size: 1.05rem;
    }

    .confirmButtonContainer {
        margin: 0.7rem auto auto;
        width: 40%;
    }

    .codeInput {
        font-size: 1.1rem;
        width: 40%;
    }

    .radioButtonAndLabelContainerForDV {
        margin: 0 1rem 0 1rem;
    }
}

/*For Phone*/
@media (max-width: 599px) {
    .surveyTitle {
        font-size: 1rem;
    }
    .surveyInfos {
        font-size: 0.8rem;
    }
    .simpleWhiteContainer, .questionLabel {
        font-size: 0.85rem;
    }
    .scaleLabel {
        font-size: 0.45rem;
    }
    .radioButtonLabel {
        font-size: 0.75rem;
    }
    .radioButton {
        margin: 0 0.4rem 0 0.4rem;
        width: 18px;
        height: 18px;
    }
    .codeInput, .confirmButtonContainer{
        font-size: 1rem;
        width: 80%;
        margin-left: 10%;
    }
    .radioButtonAndLabelContainerForDV {
        margin: 0 0.4rem 0 0.4rem;
        text-wrap: normal;
    }
    .surveyInfosContainer {
    }
}