.firstPageDimensionChoice {
    display: block;
}
.colorCodeInfo {
    color: #204060;
    margin-right: 1rem;
    font-size: 1.05rem;
}
.domainInfoIcon, .dimensionInfoIcon {
    margin-right: 0.5rem;
}
.dimensionInfoIcon {
    color: #d9e6f2;
}
.choiceContainer {
   width: 80%;
    margin: auto;
}
.surveyLabel {
    font-size: 0.9rem;
    text-transform: uppercase;
    opacity: 0.7;
    width: fit-content;
    margin-right: 1rem;
}
.firstLayerContainer, .secondLayerContainer, .thirdLayerContainer {
    width: 100%;
    border-radius: 5px;
    text-align: left;
    opacity: 0.95;
    cursor: pointer;
    padding: 0.8rem 1rem;
    box-shadow: 0 3px 5px rgba(114, 114, 113, 0.5);
}
.firstLayerContainer {
    color: #fff;
    background-color: #204060;
    border:none;
    border-bottom: 3px solid #19324b;
    font-weight: 500;
    font-size: 1rem;
    margin-top: 1rem;
}
.firstLayerContainer:hover {
    background-color: #19324b;
    border-color: #132538;
    transition: 0.2s;
}
.openCloseIcon{
    margin-left: auto;
    float: right;
}
.buttonLabelContainer {
    display: flex;
    align-items: center;
}
.secondLayerContainer {
    color: #204060;
    background-color: #d9e6f2;
    border:none;
    border-bottom: 3px solid #bdcfde;
    margin-top: 0;
    font-size: 0.95rem;
    padding: 0.5rem 1rem;
}
.secondLayerContainer:hover {
    background-color: #c6d8e7;
    border-color: #abbdcc;
    transition: 0.2s;
}
.checkBox {
    appearance: none;
    margin: 0.4rem 0.5rem;
    padding: 0 0 0 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: #fff;
    border: 2px solid #2d5986;
    display: flex;
    align-items: center;
    justify-content: center;
}
.checkBox:hover {
    background-color: #9fbfdf;
    border-color: #79a6d2;
    transition: .15s;
}
.checkBox:checked {
    background-color: #3973ac;
    border-color: #2d5986;
    transition: .15s;
}
.checkBox:checked:after {
    color: #ffffff;
    content: '\2713';
    font-size: 0.8rem;
    font-weight: 700;
    position: relative;
    display: block;
}
.thirdLayerContainer {
    background-color: #fff;
    border: none;
    border-bottom: 3px solid #f5f5f5;
    color: #595959;
    padding: 0.3rem 1rem;
    font-size: 0.9rem;
}
.confirmButtonContainer, .returnButtonContainer {
    margin-top: 1rem;
    width:10rem;
    float: right;
}
.buttonAdvanceIcon {
    float: right;
}
.returnButtonContainer {
    margin-right: 0.5rem;
}
.secondPageVariablesChoice {
    display: none;
}
.variablesDisplayContainer{
    width: 100%;
    margin-top: 0.8rem;
    border-radius: 10px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(114, 114, 113, 0.5);
}
.newVariableLabelRow, .existingVariableLabelRow {
    background-color: #29547c;
    color: white;
}
.archivedVariableLabelRow{
    background-color: #afafaf;
}
.newVariableLabel {
    font-size: 0.9rem;
    padding-left: 1rem;
    text-transform: uppercase;
    width: 200px;
}
.variableDelButtonContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.surveyInput, .valueInput, .variableInput {
    font-size: 0.9rem;
    width: 80%;
    color: #003666;
    font-weight: 420;
}
.surveyInput {
    width: 50%;
}
.valueInput {
    width: 80%;
    font-size: 0.8rem;
    margin: 0.2rem 0;
}
.variableInput:hover, .variableInput:focus {
    border-color: #649cd3;
}
.itemRows:nth-child(even) {
    background-color: #f1f1f1;
}
.newItemLabel {
    width: fit-content;
    padding-left: 4rem;
    font-size: 0.85rem;
    opacity: 0.6;
    text-transform: uppercase;
}
.existingVariableLabelRow {
    display: flex;
    align-items: center;
    padding: 0 0.3rem;
}
.variableLabel {
    margin-left: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
}
.itemElement {
    float: left;
    margin-left: 3rem;
    font-size: 0.9rem;
}
.buttonGroup {
    display: flex;
    width: fit-content;
    float: right;
}
.returnButton {
    color: #2e5d8c;
    background: #fff;
    border: 2px solid #2e5d8c;
    border-bottom: 5px solid #2e5d8c;
    border-radius: 10px;
    font-size: 0.95rem;
    text-align: left;
    width: 100%;
    padding: 0.45rem 1rem;
    cursor: pointer;
}
.returnButton:hover {
    border-color: #2e5d8c;
    background: #2e5d8c;
    border-bottom-color: #264b72;
    color: white;
    transition: 0.2s;
}
.returnArrow {
    margin-left: 0;
}
.returnButtonLabel {
    float: right;
}

/*View QR code when check css*/
.qrViewHeader {
    text-align: center;
}
.qrViewCode {
    margin: auto;
    width: 50%;
    text-align: center;
}
.qrCodeLink {
    font-size: 1rem;
}
.finishLinkGroup {
    width: 12rem;
    margin: 0.5rem auto;
}
.finishArrow {
    margin-left: auto;
}

.archiveButton {
    width: 100%;
    margin-bottom: 0.8rem;
    margin-top: 0.8rem;
    padding: 0.8rem;
    display: flex;
    font-size: 0.95rem;
    color: #264d73;
    background-color: #ececec;
    border-radius: 10px;
    border: none;
    border-bottom: 3px solid  #cecece;
    cursor: pointer;
}

.archiveButton:hover {
    background-color: #d8d8d8;
    border-bottom-color: #c5c5c5;
    transition: .2s;
}

.archiveVariableIcon {
    color: #264d73;
    background-color:  #ececec;
    border: none;
    border-bottom: 5px solid  #cecece;
    cursor: pointer;
    border-radius: 10px;
    margin-right: 0.5rem;
    padding: 0 0.7rem;
    font-size: 1rem;
}

.archiveVariableIcon:hover {
    background-color: #d8d8d8;
    border-bottom-color: #c5c5c5;
    transition: .2s;
}

.archiveButtonIcon {
    margin-right: 1rem;
}

.variablePanelButtonsContainer {
    margin-left: auto;
    display: flex;
    padding: 0.3rem 0;
}

.deleteButtonContainer {
    padding: 0.3rem;
}

/* For Phone */
@media (max-width: 599px) {
    .surveyLabel, .variableLabel{
        font-size: 0.8rem;
        margin-left: 0;
    }
    .choiceContainer {
        width: 100%;
        margin: 0;
    }
    .firstLayerContainer, .secondLayerContainer, .thirdLayerContainer {
        width: 100%;
        font-size: 0.9rem;
        text-align: left;
        cursor: pointer;
        padding: 0.7rem 0.8rem;
        box-shadow: 0 3px 5px rgba(114, 114, 113, 0.5);
    }
    .secondLayerContainer {
        padding: 0.4rem 0.8rem;
    }
    .secondLayerContainer {
        font-size: 0.85rem;
    }
    .thirdLayerContainer, .returnButton {
        font-size: 0.8rem;
    }
    .confirmButtonContainer, .returnButtonContainer {
        width: 8rem;
        margin-right: 0;
    }
    .returnButtonContainer {
        margin-right: 0.1rem;
    }
    .newVariableLabel, .variableInput {
        font-size: 0.75rem;
    }
    .variableInput {
        margin-right: 0.2rem;
    }
    .newVariableLabel {
        width: fit-content;
    }
    .newItemLabel, .valueInput {
        font-size: 0.7rem;
    }
    .newItemLabel {
        padding-left: 2rem;
    }
    .existingVariableLabelRow {
        padding: 0 0.2rem;
    }
    .itemElement {
        font-size: 0.7rem;
    }
    .surveyInput {
        width: 100%;
    }
    .qrCodeLink {
        font-size: 0.8rem;
    }
    .finishLinkGroup {
        width: 10rem;
    }
}

