/*For Computer*/
@media (min-width: 600px), (orientation: landscape) {
    .menuContainer {
        width: 70%;
        margin: auto;
    }
}

.menuContainer {
    background-color: #fff;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.lightButton, .darkButton {
    display: flex;
    width: 100%;
    cursor: pointer;
    color: #2d5986;
    background-color: #d9e6f2;
    border: none;
    border-bottom: 5px solid #acc5e0;
    border-radius: 20px;
    margin-bottom: 0.8rem;
    font-size: 1.1rem;
    padding: 0.65rem 1rem;
}

.lightButton:hover, .darkButton:hover {
    transition: 0.2s;
    background-color: #acc5e0;
    border-bottom: 5px solid #97afc9;
    text-decoration: none;
}

.darkButton {
    background-color: #3a699a;
    border-bottom: 5px solid #2e537a;
    color: #fff;
}

.darkButton:hover {
    background-color: #2e537a;
    border-bottom: 5px solid #213b57;
}

.smallerPageContainer {
    max-width: 70rem;
    margin: auto;
    width: 70%;
    align-content: center;
}

.linkFormat:hover {
    text-decoration: none;
}

.icon {
    margin-left: auto;
}
/*For Phone*/
@media (max-width: 599px) {
    .smallerPageContainer {
        width: 100%;
    }
    .menuContainer {
        width: 100%;
    }
    .lightButton, .darkButton {
        font-size: 0.85rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0.5rem 1.2rem;
    }
}