html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    line-height: 1.6;
    font-size: 1.15rem;
    height: 100%;
}

* {
    box-sizing: border-box;
}

a {
    color: #5082cc;
    text-decoration: none;
    font-weight: normal;
}

a:hover {
    text-decoration: underline;
    text-decoration-thickness: from-font;
}

img {
    max-width: 100%;
    display: block;
}

form,
label {
    display: flex;
    flex-flow: column;
}

input {
    padding: 0.5rem;
    border: 2px solid #ccc;
    border-radius: 6px;
}

input:hover {
    border: 2px solid #005299;
    transition: .2s;
}

input:focus {
    border: 2px solid #005299;
    outline: none;
}

li {
    font-weight: normal;
}

h1 {
    color: #00315b;
    font-weight:700;
    letter-spacing:1px;
    text-transform:uppercase;
    min-width: 175px;
    width:fit-content;
    text-align:center;
    margin-top: 0.6rem;
    margin-bottom: 0.9rem;
}
h1:before {
    background-color: #d3c4ff;
    content: '';
    display: block;
    height: 3px;
    width: 75px;
    margin-bottom: 5px;
}
h1:after {
    background-color: #d3c4ff;
    content: '';
    display: block;
    height: 3px;
    width: 75px;
    margin-bottom: 0.25em;
    margin-left: auto;
}

h2 {
    margin-top: 0.1rem;
    font-weight: 500;
    color: #004480;
}

h3 {
    color: #004480;
    font-weight: 500;
}

h4 {
    color: #004480;
    font-style: italic;
    font-weight: 500;
}

nav {
    max-width: 70rem;
    margin: 0 auto;
    padding: 0.4rem 0.4rem;
}

header {
    color: #fff;
    background-color: #00315b;
}

footer {
    background-color: #d9d9d9;
    width: 100%;
}
/*For Computer*/
@media (min-width: 600px) {
    h1 {
        font-size: 1.53rem;
    }
    h2 {
        font-size: 1.4rem;
    }
    h3 {
        font-size: 1.1rem;
    }
    h4 {
        font-size: 0.95rem;
    }
    p {
        font-size: 0.95rem;
    }
    ul {
        font-size: 0.95rem;
    }
    li {
        font-size: 0.95rem;
    }
}

/*For phone*/
@media (max-width: 599px) {
    h1 {
        font-size: 1.2rem;
    }
    h2 {
        font-size: 1.1rem;
    }
    h3 {
        font-size: 0.95rem;
    }
    h4 {
        font-size: 0.9rem;
    }
    p {
        font-size: 0.8rem;
    }
    ul {
        font-size: 0.8rem;
    }
    li {
        font-size: 0.8rem;
    }
}