/*For Computer*/
@media (min-width: 600px), (orientation: landscape) {
    .surveyButton {
        font-size: 1rem;
    }

    .buttonContainer {
        padding: 1rem 0 3rem 0;
    }

    .leftSide {
        width: 48%;
        display:inline-block;
        vertical-align: center;
        margin: auto;
    }
    .rightSide {
        width: 48%;
        display: inline-block;
        vertical-align: center;
        margin: auto;
    }

    .firstImage {
        margin: auto;
        width: 70%;
        height: auto;
    }

    .secondImage {
        width: 70%;
        height: auto;
        margin: auto;
    }

    .mainContainer {
        display: flex;
    }
}

.surveyButton {
    display: inline-block;
    width: fit-content;
    margin: 1rem;
    cursor: pointer;
    color: #fff;
    background: #3973ac;
    border: 0.15rem solid #356ca4;
    box-shadow: #2d5986 5px 5px 0 0;
    border-radius: 30px;
    font-weight: 500;
    padding: 0.7rem 1.2rem;
}

.surveyButton:hover {
    border-color: #29547c;
    background: #2d5986;
    transition: 0.05s;
    text-decoration: none;
    transform: translateY(5px) translateX(5px);
    box-shadow: none;
}

.buttonContainer {
    justify-content: center;
    display: flex;
}

/*For Phone*/
@media (max-width: 599px) {
    .surveyButton {
        border: 0.1rem;
        font-size: 0.8rem;
    }
    .leftSide {
        display: inline;
    }

    .rightSide {
        display: inline;
    }

    .firstImage {
        margin: auto;
        width: 80%;
        height: auto;
    }

    .secondImage {
        width: 70%;
        height: auto;
        margin: auto;
    }

    .mainContainer {
        display: block;
    }

    .buttonContainer {
        padding: 1rem 0 1.5rem 0;
    }
}