.surveyContainer {
    background-color: #d9e6f2;
    box-shadow: 3px 3px 1px #b3cce6;
    color: #264d73;
    font-size: 0.95rem;
    border-radius: 10px;
    padding: 0.4rem 0.7rem;
    margin: auto auto 0.5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search {
    width: 100%;
    color: #003666;
    font-weight: 450;
    font-size: 0.8rem;
    border-radius: 8px;
    margin: 0.2rem 0;
}

.archiveButton {
    width: 100%;
    margin-bottom: 0.8rem;
    margin-top: 0.8rem;
    padding: 0.8rem;
    display: flex;
    font-size: 0.95rem;
    color: #264d73;
    background-color: #ececec;
    border-radius: 10px;
    border: none;
    border-bottom: 3px solid  #cecece;
    cursor: pointer;
}

.archiveButton:hover {
    background-color: #d8d8d8;
    border-bottom-color: #c5c5c5;
    transition: .2s;
}

.archiveButtonIcon {
    margin-right: 1rem;
}

.openCloseIcon {
   margin-left: auto;
}

@media (max-width: 599px) {
    .surveyContainer {
        font-size: 0.85rem;
        width: 100%;
        margin: auto auto 0.5rem;
    }
}
