.smallerPageContainer {
    margin: auto;
    width: 70%;
}

.elementContainer {
    border-bottom: 0.12rem solid #dedede;
}

.confirmButtonContainer {
    width: 400px;
    margin: 1rem 0;
}

.disconnectButtonContainer {
    margin: 1.5rem 0;
}

.disconnectButton {
    font-size: 0.95rem;
    border: 2px solid #2e5d8c;
    padding: 0.3rem 1rem;
    border-radius: 10px;
    color: #2e5d8c;
}

.disconnectButton:hover {
    transition: .3s;
    background-color: #2e5d8c;
    color: white;
    text-decoration: none;
}

.userIcon {
    font-size: 3rem;
    margin-bottom: 0.8rem;
    color: #00315b;
}

.displayEmail {
    margin-bottom: 0.8rem;
    font-size: 0.95rem;
    font-weight: bold;
}

.inputField {
    width: 400px;
    border-radius: 10px;
    padding: 0.6rem;
    color: #003666;
    font-size: 0.85rem;
}

.label, .secondLabel {
    font-size: 1.05rem;
    color: #00315b;
    font-weight: 450;
    margin-bottom: 0.3rem;
}

.secondLabel {
    margin-top: 0.8rem;
}

.buttonIcon {
    margin-right: 1rem;
}

.dangerZone {
    border: 2px solid #e73131;
    padding: 0.5rem;
    background-color: rgba(231, 49, 49, 0.07);
}

.dangerIcon {
    color: #e73131;
    padding-right: 0.4rem;
}

.languageSelection {
    padding: 0.5rem;
    font-size: 0.9rem;
    font-weight: 450;
    background-color: #5082cc;
    border:none;
    border-radius: 10px;
    border-bottom: 4px solid #40649b;
    color: white;
    cursor: pointer;
    margin-left: 0.5rem;
}
.languageSelection:hover {
    transition: .2s;
    background-color: #3f66a1;
    border-bottom: 4px solid #345281;
}

.savedLanguageContainer {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*For Phone*/
@media (max-width: 599px) {
    .displayEmail {
        font-size: 0.85rem;
    }
    .smallerPageContainer {
        width: 100%;
    }
    .inputField {
        width: 100%;
        font-size: 0.8rem;
        padding: 0.5rem;
    }
    .label {
        font-size: 0.9rem;
    }
    .mail {
        font-size: 1rem;
    }
    .userIcon {
        font-size: 2.5rem;
    }

    .confirmButtonContainer {
        width: 100%;
    }
    .disconnectButton {
        font-size: 0.85rem;
        padding: 0.25rem 0.9rem;
    }
    .languageSelection {
        font-size: 0.75rem;
    }
}