.largeContainer {
    padding: 2rem;
    max-width: 30rem;
    margin: 0 auto;
}

.smallContainer {
    margin: 0;
    background: #fff;
    padding: 2.5rem;
    border-radius: 10px;
    box-shadow: 4px 4px #d9d9d9;
}

.pageBackground {
    background-color: rgb(230, 230, 230);
    min-height: 100vh;
    height:100%;
    min-width: 100vw;
    width:100%;
}

.confirmButtonContainer {
    margin-top: 1rem;
}

.formLabel, .secondFormLabel {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: 450;
}

.secondFormLabel {
    margin-top: 1rem;
}

.infoText {
    color: #c9c9c9;
}

.inputField {
    border-radius: 10px;
    padding: 0.6rem;
    color: #003666;
    font-size: 0.85rem;
}

.notConnectedError {
    font-size: 0.85rem;
    padding: 0.8rem;
    border: 2px solid #e73131;
    background-color: rgba(231, 49, 49, 0.07);
}

@media (max-width: 599px) {
    .largeContainer {
        padding: 0.8rem;
    }

    .smallContainer {
        padding: 1.2rem;
    }

    .inputField {
        font-size: 0.8rem;
        padding: 0.5rem;
    }
}