.search {
    width: 100%;
    color: #003666;
    font-weight: 550;
    font-size: 0.8rem;
    margin-bottom: 0;
    border-radius: 8px;
}

.searchBarWrapper {
    margin: 0.6rem;
}

.leftArea, .rightArea {
    display: flex;
    flex-direction: column;
}

.filterArea, .surveyListArea, .plotArea, .vIArea, .dimensionsArea {
    box-shadow: 1px 1px 1px 1px #b3cce6;
    background-color: #d9e6f2;
    border-radius: 10px;
    margin-bottom: 1rem;
    padding: 0.3rem;
}

.surveyListArea, .selectionArea {
    flex-grow: 1;
}

.surveyListArea {
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 0.5rem;
    position: relative;
    z-index: 0;
}

.selectionArea {
    height: auto;
}

.areaTitle {
    font-size: 0.9rem;
    margin: 0.25rem 0 0 0.5rem;
    text-transform: uppercase;
    color: #00315b;
}

.surveyLabel {
    font-size: 1rem;
    margin-left: 0.5rem;
    cursor: pointer;
}

.dateAndCountContainer {
    display: flex;
    font-size: 0.75rem;
    color: #3973ac;
    margin: 0;
    padding: 0;
}

.surveyListContainer, .surveyListContainer > input {
    display: flex;
    position: relative;
    margin: 0.3rem 0 0 0.5rem;
}

.dimensionsInfo {
    border-radius: 5px;
    border: 2px solid #004682;
    padding: 0.3rem;
    background-color: rgb(243, 246, 255);
    font-size: 0.8rem;
    width: 150px;

    position: absolute;
    z-index: 30;
    translate: 100px;
    transform: translateY(50px);
    visibility: hidden;
}

.surveyLabel:hover + .dimensionsInfo {
    visibility: visible;
}

.dimensionsInfoTitle {
    font-weight: bold;
    color: #004682;
}

.dimensionsInfoDimensionLabel {
    font-size: 0.75rem;
    color: #004682;
}

.radio {
    appearance: none;

    cursor: pointer;
    color: white;
    background-color: #ffffff;

    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 0;

    border: 2px solid #999;
    transition: 0.05s border linear, 0.05s padding linear;
    margin: 0 10px 0 10px;
    display: inline-block;
}

.radio:hover {
    background-color: #9fbfdf;
    border: 2px solid #79a6d2;
    transition: .15s;
}

.radio:checked {
    border-width: 6px;
    border-color: #2d5986;
    padding: 2px;
}

.checkBox {
    appearance: none;
    margin-top: 0.3rem;
    width: 0.9rem;
    height: 0.9rem;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.checkBox:hover {
    background-color: #9fbfdf;
    border: 2px solid #79a6d2;
    transition: .15s;
}

.checkBox:checked {
    background-color: #3973ac;
    border-color: #2d5986;
    transition: .15s;
}

.checkBox:after {
    color: #ffffff;
    content: '\2713';
    font-size: 0.8rem;
    font-weight: 700;
    position: relative;
    display: none;
}

.checkBox:checked:after {
    display: block;
}

/*For Computer*/
@media (min-width: 600px), (orientation: landscape) {
    .statsArea, .selectionArea {
        display: flex;
        height: fit-content;
    }
    .leftArea {
        width: 32%;
        padding-right: 1rem;
    }
    .rightArea {
        width: 68%;
    }
    .plotArea {
        min-height: 330px;
    }
    .surveyListArea {
        height: 425px;
    }
    .vIArea, .dimensionsArea {
        width: calc(50% - 0.5rem);
    }
    .vIArea {
        margin-right: 1rem;
    }
}

@media (min-width: 1200px) {
    .dimensionsInfo {
        translate: 180px;
        transform: translateY(30px);
    }
}

/*For Phone*/
@media (max-width: 599px) {
    .statsArea, .selectionArea {
        display: block;
    }
    .surveyListArea {
        height: 250px;
    }

    .dimensionsInfo {
        translate: 160px;
        transform: translateY(20px);
    }
}
