.headingXL {
    font-size: 1.6rem;
    line-height: 1.3;
    font-weight: 700;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
}
@media (max-width: 599px) {
    .headingXL {
        font-size: 1.3rem;
    }
}
