.titleBannerContainer {
    display: flex;
}

.surveyInfoContainer {
    width: 80%;
}

.surveyTitle {
    margin-bottom: .3rem;
}

.dateAndCountContainer {
    display: flex;
}

.dateDisplay, .countDisplay {
    font-size: 0.95rem;
    color: #3d5c5c;
    width: fit-content;
    padding: 0;
}

.dateDisplay {
    margin-left: 2rem;
}

.archivedInfo {
    font-size: 1rem;
    width: fit-content;
    background-color: #ececec;
    color: #3d5c5c;
    border-radius: 10px;
    padding: 0.2rem;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}

.surveyLink {
    font-size: 0.95rem;
}

.barCodeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:auto;
}

.barCodeIcon {
    margin-right: 0.5rem;
}

.codeText {
    font-size: 1rem;
}

.questionContainer, .firstQuestionContainer {
    color: #334d4d;
    padding: 0.4rem 0 0.4rem 0;
}

.questionContainer {
    border-top: 2px solid #c2d6d6;
}

.answerAverageContainer {
    float: right;
}

.variableItemsContainer {
    font-size: 0.9rem;
    margin-left: 2rem;
    color: rgba(51, 77, 77, 0.68);
}

.questionsContainer {
    background-color: #f0f5f5;
    border-radius: 10px;
    padding: 0.5rem 0.8rem;
    font-size: 0.9rem;
}

.linksContainer {
    display: flex;
}

.linkIconContainer {
    display: flex;
    justify-content: center;
    width: 50px;
    margin-top: 0.3rem;
    margin-right: 0.5rem;
    font-size: 1.2rem;
}

.smallTitleInfoContainer {
    display: flex;
    align-items: center;
}

.infoIcon {
    margin-left: auto;
    color: #004682;
    background-color: transparent;
    border:none;
    border-radius: 100px;
    margin-right: 0.5rem;
    padding: 0.3rem;
    cursor: pointer;
    font-size: 0.9rem;
}
.infoIcon:hover {
    background-color: #d9e6f2;
    transition: .3s;
}

.iconInInfo {
    color: #004682;
    margin: auto 0;
    padding: 0 0.4rem 0 0.2rem;
}
.secondTitle {
    margin-left: auto;
}

.scaleContainer {
    color: #000000;
    margin-left: auto;
    font-size: 0.8rem;
    border-radius: 5px;
    padding: 0.3rem;
    margin-right: 0.8rem;
    border: 2px solid #004682;
    background-color: rgb(243, 246, 255);
    visibility: hidden;
    position: absolute;
    width: 205px;
    translate: -206px;
    transform: translateY(-10px);
}

.scaleContainer:hover {
    opacity: 0.7;
}

.scaleContainerIsVisible {
    visibility: visible;
}

.scaleInnerContainer {
    display: flex;
    justify-content: center;
}

.analysePlaceholder {
    display: inline-block;
    background-color: #c9c9c9;
    border-bottom: 5px solid #b0b0b0;
    cursor: not-allowed;
    color: #fff;
    height: fit-content;
    width: fit-content;
    border-radius: 10px;
    font-size: 0.95rem;
    padding: 0.32rem 0.8rem;
}

/*For Phone*/
@media (max-width: 599px) {
    .barCodeContainer, .titleBannerContainer {
        display: block;
    }
    .surveyInfoContainer {
        width: 100%;
    }
    .dateDisplay, .countDisplay, .variableItemsContainer, .codeText, .surveyLink, .analysePlaceholder {
        font-size: 0.8rem;
    }

    .analysePlaceholder {
      margin-top:auto;
    }

    .questionsContainer {
        padding: 0.3rem 0.6rem;
        font-size: 0.8rem;
    }
    .linkIconContainer {
        margin-bottom: 0.5rem;
        margin-right: 0.25rem;
    }
    .scaleContainer {
        font-size: 0.6rem;
        translate: -159px;
        width: 158px;
        margin: 0 0.1rem;
    }
}