.headerContainer {
    background-color: #00315b;
    box-shadow: 0 0 5px rgba(114, 114, 113, 0.5);
    color: #fff;
    font-size: 1.35rem;
    font-weight: 600;
    width: 100%;
    padding: 0.5rem 1rem;
    margin: 0 0 0.5rem 0;
    border-radius: 10px;
    display: flex;
}

.link {
    font-weight: 600;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.link:hover {
    text-decoration: none;
}

.languageSelection {
    background-color: transparent;
    padding: 0.5rem;
    margin: auto 0 auto auto;
    font-size: 0.9rem;
    font-weight: 450;
    border:none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}
.languageSelection:hover {
    transition: .25s;
    background: #004480;
}
.logo {
    max-width: 68px;
    width: fit-content;
    height: fit-content;
}

@media (max-width: 599px) {
     .headerContainer {
         font-size: 1.15rem;
     }
    .languageSelection {
        font-size: 0.75rem;
    }
    .logo {
        max-width: 55px;
    }
}