.button, .link {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    color: #fff;
    background-color: #3973ac;
    border:none;
    border-bottom: 5px solid #2e5d8c;
    border-radius: 10px;
    font-size: 0.95rem;
    padding: 0.5rem 0.8rem;
}

.button:hover, .link:hover {
    background-color: #2e5d8c;
    border-bottom: 5px solid #264b72;
    transition: 0.2s;
    text-decoration: none;
}

.button:disabled {
    background-color: #c9c9c9;
    border-bottom: 5px solid #b0b0b0;
    cursor: not-allowed;
}

.link {
    padding: 0.32rem 0.8rem;
}

@media (max-width: 499px) {
    .button, .link {
        font-size: 0.8rem;
    }
}
