.active {
    color: #003666;
}

.navLink {
    color: #a2c3c3;
    display: inline-block;
    margin-right: 1rem;
    background-color: #eff5f5;
    padding: 0.25rem 1rem;
    box-shadow: 1px 1px 1px 1px #c2d6d6;
    border-radius: 5px;
    font-size: 1.05rem;
    font-weight: 450;
}

.navLink:hover {
    background-color: #e0ebeb;
    transition: 0.2s;
}

/*For phone*/
@media (max-width: 599px) {
    .navLink {
        font-size: 0.95rem;
        padding: 0.15rem 0.8rem;
        margin-bottom: 0.25rem;
        width: fit-content;
    }
}
