.deleteButton {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    color: #fff;
    background-color: #e73131;
    border:none;
    border-bottom: 5px solid #b62a2a;
    border-radius: 10px;
    font-size: 0.95rem;
    padding: 0.5rem 0.8rem;
}

.deleteButton:hover {
    background-color: #b62a2a;
    border-bottom: 5px solid #912222;
    transition: 0.2s;
    text-decoration: none;
}

@media (max-width: 599px) {
    .deleteButton {
        font-size: 0.8rem;
    }
}
