.dropButton {
    all: unset;
    color: #264d73;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 0.1rem;
    padding: 0 0.5rem;
}

.dropButton:hover {
    background-color: #a0c0de;
    transition: 0.2s;
}

.dropButtonActive {
    background-color: #a0c0de;
}

.dropMenu, .dropMenuLast {
    display: flex;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    z-index: 30;
    width: 200px;
    translate: -190px;
    flex-direction: column;
    transition: opacity 0.25s ease, visibility 0.25s ease;

    padding: 0.4rem 0;
    border-radius: 5px;
    background-color: #e7f3ff;
}

.dropMenuLast {
    transform: translateY(-250px);
}

.dropMenuIsOpen {
    opacity: 1;
    visibility: visible;
}

.clickBackground {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 20;
}

@media (max-width: 599px) {
    .dropButton {
        font-size: 1.2rem;
    }

    .dropMenu {
        translate: -115px;
    }

    .dropButtonContainer {
        display: flex;
        justify-content: center;
    }
    .dropMenuLast {
        transform: translateY(-200px);
        translate: -115px;
    }
}
