.wrapperElement {
    width: 75%;
}

.error, .success, .info {
    background-color: #e6060c;
    color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 3px 5px -1px #0003,0 6px 10px 0 #00000024,0 1px 18px 0 #0000001f;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0.7rem;
    display: flex;
}

.xMarkError, .xMarkInfo, .xMarkSuccess {
    margin-left: 0.5rem;
    margin-right: 0.25rem;
    background-color: #e6060c;
    color: #ffffff;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.35rem 0.5rem;
}

.xMarkError:hover {
    background-color: #cf050d;
}

.success, .xMarkSuccess {
    background-color: #059d21;
}

.xMarkSuccess:hover {
    background-color: #04891d;
}

.info, .xMarkInfo {
    background-color: #9a9a9a;
}

.xMarkInfo:hover {
    background-color: #8a8a8a;
}

/*For Computer*/
@media (min-width: 600px), (orientation: landscape) {
    .error, .success, .info {
        font-size: 0.95rem;
        bottom: 2.5rem;
    }

    .msg {
        width: max-content;
        max-width: 750px;
    }
}

/*For Phone*/
@media (max-width: 599px) {
    .error, .success, .info {
        font-size: 0.75rem;
        bottom: 2rem;
    }

    .msg {
        width: max-content;
        max-width: 200px;
    }
}
