.pageFooter {
    flex-grow: 0;
    flex-shrink: 0;
}

.link {
    color: black;
    padding: 0.2rem 0.7rem;
    font-weight: normal;
    font-size: 0.875rem;
}

.link:hover {
    color:black;
    text-decoration: underline;
}

.linksContainer {
    margin: auto;
    margin-top: 0.3rem;
    display: flex;
    justify-content: center;
    list-style: none;
    padding-left: 0;
    font-weight: bolder;
}

.license {
    margin: 0.3rem;
    color: #545454;
    display: flex;
    justify-content: center;
}

.licenseIcon {
    margin-left: 0.2rem;
}

@media (max-width: 599px) {
    .link {
        padding: 0.1rem 0.25rem;
        font-size: 0.7rem;
    }

    .license {
        font-size: 0.7rem;
    }
}