.confirmButtonContainer {
    width: 100%;
    padding-bottom: 1.5rem;
    border-bottom: 2px solid #dedede;
    margin-top: 1.4rem;
}

.input {
    color: #003666;
    font-size: 0.85rem;
    border-radius: 10px;
    padding: 0.6rem;
}

.linkText {
    font-size: 0.8rem;
    margin-left: 0;
    display: inline-block;
}

.linkText:hover {
    text-decoration: underline;
}

.infoText {
    color: grey;
    font-size: 0.8rem;
    display: inline-block;
    margin-right: 0.2rem;
}

.underLineElement {
    margin-top: 1rem;
}

.label, .secondLabel {
    margin-bottom: 0.2rem;
    font-size: 1rem;
    font-weight: 450;
}

.secondLabel {
    margin-top: 1rem;
}

/*For Phone*/
@media (max-width: 599px) {
    .input {
        font-size: 0.75rem;
    }
    .linkText {
        display: flex;
        width: fit-content;
    }
    .label, .secondLabel {
        font-size: 0.85rem;
    }
}
