.mainContainer {
    max-width: 70rem;
    margin: 0 auto;
    padding: 1.5rem 2.5rem;
    width: 100%;
    flex-grow: 1;
}

.pageContainer {
    box-sizing: border-box;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
/*For Phone*/
@media (max-width: 599px) {
    .mainContainer {
        padding: 0.3rem 0.8rem;
    }
}
