.ouraLink {
    font-weight: 600;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.ouraLink:hover {
    text-decoration: none;
}

.firstLink, .nextLink, .adminLink {
    margin: 0 0.4rem 0 0.4rem;
    text-decoration: none;
    color: #fff;
    border-radius: 10px;
    padding: 0.1rem 0.5rem;
    font-size: 1.15rem;
}

.firstLink {
    margin-left: auto;
}

.adminLink {
    margin-left: 1.5rem;
}

.nextLink:hover, .firstLink:hover, .adminLink:hover {
    text-decoration: none;
    background: #004480;
    transition: .2s;
}

.navbarContainer {
    margin: 0.15rem 0;
    display: flex;
    align-items: center;
    font-weight: bolder;
    list-style: none;
    padding: 0 0.5rem;
}

.icon {
    font-size: 1.15rem;
}
.languageSelection {
    background-color: transparent;
    padding: 0.5rem;
    font-size: 0.9rem;
    font-weight: 450;
    border:none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    float: right;
}
.languageSelection:hover {
    transition: .25s;
    background: #004480;
}

.logo {
    max-width: 68px;
    width: fit-content;
    height: fit-content;
}

/*For Phone*/
@media (max-width: 599px) {
    .ouraLink {
        padding-top: 0;
    }
    .firstLink, .nextLink, .adminLink {
        padding: 0.1rem 0.2rem;
        font-size: 0.85rem;
    }

    .navbarContainer {
        padding: 0 0.1rem;
    }

    .icon {
        font-size: 1rem;
    }

    .logo {
        max-width: 55px;
    }
}
