.linkHolder {
    width: 6.5rem;
    margin-top: 0.8rem;
}

.returnLink {
    color: #003666;
    text-decoration: none;
    font-size: 1rem;
    display: flex;
    padding: 0.35rem 0.7rem;
    border-radius: 10px;
}

.returnLink:hover, .returnLabel:hover {
    text-decoration: none;
    background-color: #d9e6f2;
    transition: .2s;
}

.returnLabel {
    font-weight: 500;
    margin-left: auto;
}

@media (max-width: 599px) {
    .returnLink {
        font-size: 0.85rem;
    }

    .linkHolder {
        width: 6rem;
    }
}

