.surveyContainer, .surveyContainerArchived {
    background-color: #d9e6f2;
    box-shadow: 3px 3px 1px #b3cce6;
    color: #264d73;
    font-size: 0.95rem;
    border-radius: 10px;
    padding: 0.4rem 0.7rem;
    margin: auto auto 0.5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.surveyContainer:hover, .surveyContainerArchived {
    transition: .2s;
    background-color: #c5d3e1;
}

.surveyContainerArchived {
    background-color: #f6f6f6;
    box-shadow: 3px 3px 1px #d8d8d8;
}

.surveyContainerArchived:hover {
    background-color: #e2e2e2;
}

.surveyInfoContainer {
    display: flex;
    width: 90%;
}

.surveyTitle {
    width: 65%;
}

.dateAndCountContainer {
    display: flex;
    width: fit-content;
    flex: 1;
}

.countDisplay, .dateDisplay {
    font-size: 0.85rem;
    color: #3973ac;
    margin: 0;
    padding: 0;
}

.dateDisplay {
    margin-left: auto;
}

.iconsContainer {
    display: flex;
}

.iconLink {
    all: unset;
    color: #264d73;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 0.05rem;
    padding: 0 0.5rem;
}

.iconLink:hover {
    background-color: #a0c0de;
    transition: 0.2s;
}

.dropdownLinkContainer {
    width: 100%;
}

.dropdownLink {
    cursor: pointer;
    font-size: 0.9rem;
    background: none;
    border: none;
    text-align: left;
    color: #264d73;
    width: 100%;
    display: block;
    padding: 0.3rem 0.5rem;
}

.dropdownLink:hover {
    background-color: #a0c0de;
    transition: .2s;
    text-decoration: none;
}

.dropdownIcon {
    margin-right: 0.5rem;
    width: 20px;
}

.dropdownSeparator {
    opacity: 0.4;
    border: 1px solid #264d73;
    margin: 0.4rem 0;
}

@media (max-width: 599px) {
    .surveyContainer {
        font-size: 0.85rem;
        width: 100%;
        margin: auto auto 0.5rem;
        justify-content: normal;
        align-items: normal;
    }

    .iconsContainer {
        display: inline-block;
        margin:auto;
    }

    .surveyInfoContainer {
        display: inline-block;
    }
    .countDisplay, .dateDisplay {
        font-size: 0.75rem;
    }
    .dateDisplay {
        margin-right: 0;
        margin-left: 0.5rem;
    }
    .surveyTitle {
        width: 100%;
    }
    .iconLink {
        font-size: 1.2rem;
        padding: 0.2rem 0.5rem;
    }
}